## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
Drop_df = application_df.drop(columns =["EIN","NAME"])
Drop_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [3]:
# Determine the number of unique values in each column.
Drop_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
Binned_df = Drop_df["APPLICATION_TYPE"].value_counts()
Binned_df

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = Binned_df[Binned_df <= 500]
application_types_to_replace = application_types_to_replace.index.values

In [6]:
#application_types_to_replace
for app in application_types_to_replace:
    Drop_df['APPLICATION_TYPE'] = Drop_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
Drop_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
Binned2_df = Drop_df["CLASSIFICATION"].value_counts()
Binned2_df

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1732        1
C2190        1
C2380        1
C4120        1
C1580        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
Binned2_df[Binned2_df >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1600        5
C1257        5
C0           3
C1260        3
C2710        3
C1234        2
C1246        2
C3200        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = Binned2_df[Binned2_df <= 1200]
classifications_to_replace = classifications_to_replace.index.values

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    Drop_df['CLASSIFICATION'] = Drop_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
Drop_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

Dummies_df = pd.get_dummies(Drop_df)
Dummies_df

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 44 columns]

In [12]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = Dummies_df["IS_SUCCESSFUL"].values
X = Dummies_df.drop(["IS_SUCCESSFUL"],1).values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, stratify=y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=8, input_dim=len(X_train[0]), activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation="relu"))

nn.add(tf.keras.layers.Dense(units=5, activation="relu"))

nn.add(tf.keras.layers.Dense(units=5, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 8)                 352

 dense_5 (Dense)             (None, 5)                 45

 dense_6 (Dense)             (None, 5)                 30

 dense_7 (Dense)             (None, 5)                 30

 dense_8 (Dense)             (None, 1)                 6

=================================================================
Total params: 463
Trainable params: 463
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6256 - accuracy: 0.6871
Epoch 2/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5712 - accuracy: 0.7252
Epoch 3/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7247
Epoch 4/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5589 - accuracy: 0.7267
Epoch 5/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5574 - accuracy: 0.7282
Epoch 6/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7284
Epoch 7/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5551 - accuracy: 0.7269
Epoch 8/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7284
Epoch 9/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7291
Epoch 10/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7289
Epoch 11/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7301
Epoch 12/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7292
Epoch 13/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7290
Epoch 14/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7290
Epoch 15/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7300
Epoch 16/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7304
Epoch 17/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7303
Epoch 18/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7294
Epoch 19/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7298
Epoch 20/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7303
Epoch 21/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7310
Epoch 22/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7308
Epoch 23/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7311
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7315
Epoch 25/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7311
Epoch 26/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7315
Epoch 27/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7305
Epoch 28/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7308
Epoch 29/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7311
Epoch 30/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7317
Epoch 31/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7312
Epoch 32/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7317
Epoch 33/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7314
Epoch 34/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7327
Epoch 35/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7315
Epoch 36/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7324
Epoch 37/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7315
Epoch 38/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7313
Epoch 39/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7325
Epoch 40/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7330
Epoch 41/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7320
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7329
Epoch 43/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7318
Epoch 44/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7321
Epoch 45/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7326
Epoch 46/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7344
Epoch 47/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7338
Epoch 48/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7332
Epoch 49/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7325
Epoch 50/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7334
Epoch 51/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7312
Epoch 52/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7322
Epoch 53/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7329
Epoch 54/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7328
Epoch 55/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7329
Epoch 56/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7320
Epoch 57/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7337
Epoch 58/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7326
Epoch 59/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7332
Epoch 60/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7331
Epoch 61/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7336
Epoch 62/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7328
Epoch 63/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7324
Epoch 64/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7337
Epoch 65/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7343
Epoch 66/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7325
Epoch 67/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7323
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7336
Epoch 69/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7330
Epoch 70/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7326
Epoch 71/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7327
Epoch 72/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7334
Epoch 73/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7330
Epoch 74/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7327
Epoch 75/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7334
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7354
Epoch 77/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7330
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7343
Epoch 79/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7342
Epoch 80/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7341
Epoch 81/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7344
Epoch 82/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7331
Epoch 83/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7327
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7333
Epoch 85/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7341
Epoch 86/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7322
Epoch 87/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 88/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7318
Epoch 89/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7335
Epoch 90/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 91/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7346
Epoch 92/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7330
Epoch 93/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7341
Epoch 94/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7345
Epoch 95/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7346
Epoch 96/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7330
Epoch 97/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7329
Epoch 98/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7339
Epoch 99/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7334
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7331
Epoch 101/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7340
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7344
Epoch 103/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7324
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7345
Epoch 105/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7350
Epoch 106/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7329
Epoch 107/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7335
Epoch 108/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7336
Epoch 109/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 110/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7340
Epoch 111/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7347
Epoch 112/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7335
Epoch 113/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7332
Epoch 114/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7345
Epoch 115/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7330
Epoch 116/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7343
Epoch 117/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7335
Epoch 118/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 119/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7334
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7346
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7328
Epoch 122/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7339
Epoch 123/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7339
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7333
Epoch 125/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 126/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7336
Epoch 127/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7343
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7332
Epoch 129/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7349
Epoch 130/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7345
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7344
Epoch 132/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7339
Epoch 133/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 134/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7341
Epoch 135/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7345
Epoch 136/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7341
Epoch 137/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7341
Epoch 138/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7352
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7343
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7332
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7333
Epoch 142/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7346
Epoch 143/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7339
Epoch 144/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7347
Epoch 145/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7328
Epoch 146/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7340
Epoch 147/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 148/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7343
Epoch 149/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7332
Epoch 150/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7343

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5505 - accuracy: 0.7307 - 415ms/epoch - 2ms/step
Loss: 0.5505258440971375, Accuracy: 0.7307288646697998

In [23]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("2nd_AlphabetSoupCharity_Optimization.h5")